<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>

</ion-header>

<ion-content padding>
  <h2>Results</h2>
  <h2 *ngIf = "(results | async)?.length == 0">No Results</h2>
    <ion-list>
        <ion-item *ngFor="let result of results | async">
          <ion-thumbnail item-start>
            <img [src]= " 'https://image.tmdb.org/t/p/w154' + result.poster_path ">
          </ion-thumbnail>
          <h2>{{result.title}}</h2>
          <p>{{result.release_date}}</p>
          <button ion-button clear item-end [navPush]="pushPage" [navParams]="result">></button>
        </ion-item>
      </ion-list>
</ion-content>